.comment:not(:last-child) {
  border-bottom: 1px black solid;
}

.comment--info {
  display: flex;
  justify-content: space-between;
}

.comment--body-votes {
  display: inline-flex;
  justify-content: space-between;
}

.comment--body-votes > p {
  margin-right: 20px;
}
